.vagrant/

napalm/logs/log

napalm/scripts/*.pyc

.idea/

saltstack/database/python_classes/__init__.py

saltstack/database/python_classes/.cache

saltstack/database/python_classes/__pycache__

saltstack/database/python_classes/*.pyc

saltstack/*.pyc

saltstack/oatsdbhelpers/.cache/

saltstack/oatsdbhelpers/tests/__pycache__/

streaming_telemetry/tests/.pytest_cache/

streaming_telemetry/tests/__pycache__/

streamprocessor/target

streaming_telemetry/*.pyc

kafka/*.pyc
