enum34==1.1.6
expiringdict==1.1.4
Flask==1.0.2
flasgger==0.8.3
functools32==3.2.3.post2
gitdb==0.6.4
GitPython==1.0.1
influxdb==5.0.0
Jinja2==2.10
kafka-python==1.4.2
more-itertools==4.1.0
msgpack-python==0.4.6
napalm==2.3.1
napalm-base==1.0.0
napalm-ios==0.8.1
napalm-logs==0.4.2
netmiko==2.1.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pynetbox==3.3.1
pyOpenSSL==17.3.0
pytest==3.5.0
python-dateutil==2.7.2
PyYAML==3.12
pyzmq==15.4.0
requests==2.18.4
requests-toolbelt==0.8.0
salt==2017.7.5
tornado==4.2.1
u-msgpack-python==2.4.1
xmltodict==0.11.0
