[Unit]
Description=Kafka consumer for syslog interface changed events
After=oats.target napalm-logs.service oats_telemetry.service
PartOf=oats.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/oats/kafka/syslog_ifchanged_consumer.py

[Install]
WantedBy=oats.target
