[Unit]
Description=kafka consumer for ingress netflow data produced by oats-netflow_consumer
After=oats.target oats_telemetry.service
PartOf=oats.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/oats/kafka/oats-netflow-ingress_consumer.py

[Install]
WantedBy=oats.target
