[Unit]
Description=Kafka consumer for syslog ospf neighbor down events
After=oats.target napalm-logs.service
PartOf=oats.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/OATS/kafka/syslog_ospf_nbr_down_consumer.py

[Install]
WantedBy=oats.target
