[Unit]
Description=kafka consumer for ingress netflow data produced by oats-netflow_consumer
After=oats.target
PartOf=oats.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/OATS/kafka/oats-api_consumer.py

[Install]
WantedBy=oats.target
