[Unit]
Description=napalm-logs client that extracts the relevant data for OATS
After=oats.target napalm-logs.service
PartOf=oats.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/OATS/napalm/scripts/oats_napalm_logs_client.py

[Install]
WantedBy=oats.target
