{%- if grains.os == 'iosxr' %}
interface {{ interface_name }}
  no shutdown
{%- elif grains.os == 'ios' %}
interface {{ interface_name }}
  no shutdown
{%- elif grains.os == 'junos' %}
  deactivate interface {{ interface_name }};
{%- endif %}
